{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}

{% block body %}

    <h2 class="mb-4 text-center">edité un Compte</h2>

    {% include 'profil/_form.html.twig' %}

{% endblock %}


