{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
<h1>HELLO {{ app.user.email }}</h1>

    {% if is_granted("ROLE_ADMIN") %}
    <button class="btn ">je suis {{ app.user.roles | join(', ') }}</button>
    {% else %}
    <p>Vous n'avez le bon role ;) </p>
    {% endif %}

{% endblock %}
