<form method="post" action="{{ path('app_composant_delete', {'id': composant.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ composant.id) }}">
    <button type="submit" class="btn btn-danger">Supprimer</button>
</form>
